* {
    margin: 0;
}

body {
    color: #7ea64b;
    width: 360px;
    height: 400px;
    position: relative;
}

a {
    color: #fff;

    text-decoration: none;
}

.main {
    height: 350px;
    width: 100%;
    background-color: #171d25;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #1a9fff;
    border-radius: 6px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #1b2838;
    border-top: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    padding-top: 3px;
    border-radius: 6px;
    margin: 0 auto;
}

.btn {
    background-color: #1a9fff;
    border-radius: 9px;
    font-weight: bold;
    font-size: small;
    text-align: center;
    padding: 10px;
    margin: 0 13px;
}

.top {
    height: 50px;
    width: 100%;
    background-color: #1b2838;
    border-bottom: 1px white solid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-text {
    margin: 0;
}

.middle {
    padding: 15px;
    border-bottom: 1px solid white;
    padding-right: 50px;

}

.checkbox-container {
    margin-bottom: 20px;
    position: relative;
}

.checkbox-container span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
}

.middle>h3 {
    font-weight: bold;
    padding-bottom: 10px;
}

.checkbox-list {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;
}

.checkbox-list-item {
    margin-bottom: 10px;
}

.footer-buttons {
    width: 65px;
}

@keyframes fadeInAndOut {

    0%,
    100% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }
}

.save {
    text-align: center;
    font-weight: bold;
    font-size: small;
    opacity: 0;
}

.visible {
    animation: fadeInAndOut 3s ease-in-out forwards;
}